<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="M11205504_WindowsForm.Properties.Settings.M11205504ConnectionString"
            connectionString="Data Source=140.118.105.174,14333;Initial Catalog=M11205504;User ID=M11205504;Password=4873320;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>